.app.debug {
  .vertical-stack {
    background-color: #300000;
  }

  .deck {
    background-color: black;
  }

  .foundation {
    background-color: green;
  }

  .discovery {
    background-color: aquamarine;
  }
}
